.money {
  font-weight: bold;
}

.title {
  border-bottom: 2px solid black;
  padding-bottom: 5px;
}

.balance{
  background-color: white;
  padding: 12px;
}

.compa{
  background-color: white;
}

.minus {
  border-right: 4px solid red;
}

.plus {
  border-right: 4px solid green;
}

.btn-close {
  display: none;
}

.amount-group {
  background-color: white;
  display: flex;
  align-items: center;
}

.amount {
  list-style: none;
  width: 100%;
  padding: 3px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.amount-group:hover {
  background-color: rgb(234, 234, 234);
}

.amount-group:hover .btn-close {
  display: block;
}